In [2]:
"""
Read file into texts and calls.
It's ok if you don't understand how to read files.
"""
import csv
with open('texts.csv', 'r') as f:
    reader = csv.reader(f)
    texts = list(reader)

with open('calls.csv', 'r') as f:
    reader = csv.reader(f)
    calls = list(reader)


"""
TASK 1:
How many different telephone numbers are there in the records? 
Print a message:
"There are <count> different telephone numbers in the records."
"""

'\nTASK 1:\nHow many different telephone numbers are there in the records? \nPrint a message:\n"There are <count> different telephone numbers in the records."\n'

In [3]:
#Checking the length of the lists
print(len(calls))
print(len(texts))

5213
9072

In [4]:
import numpy as np 

#Grab and sort the unique values
unique_text = list(np.unique(texts+calls))
print(len(unique_text))
unique_text[:10]

14284

[['(011)21017178', '83015 22251', '15-09-2016 14:19:01', '156'],
 ['(011)21017178', '83015 22251', '27-09-2016 11:24:59', '215'],
 ['(011)21017178', '83015 22251', '28-09-2016 07:43:26', '771'],
 ['(011)21017178', '83015 22251', '30-09-2016 07:53:20', '316'],
 ['(011)68486606', '(080)32255824', '1/9/2016 12:19', '1686'],
 ['(011)68486606', '(080)32255824', '11/9/2016 11:42', '418'],
 ['(011)68486606', '(080)32255824', '11/9/2016 13:05', '9'],
 ['(011)68486606', '(080)32255824', '20-09-2016 21:08:58', '26'],
 ['(011)68486606', '(080)32255824', '22-09-2016 15:44:09', '184'],
 ['(011)68486606', '(080)32255824', '7/9/2016 12:08', '1787']]

In [5]:
#converting the list into pandas dataframe
import pandas as pd

unique_df =pd.DataFrame(unique_text)

In [6]:
#group by the first two columns
counts = unique_df.groupby([0, 1]).size().reset_index(name=(2))

In [112]:
#the length of the first column with duplicates
len(counts[0])

897

In [7]:
#droping the duplicates from the first column
duplicates_1 = counts.drop_duplicates(subset=[0], keep ='first')

In [121]:
#the length of the first column without duplicates
len(duplicates[0])

517

In [122]:
#the length of the second column with duplicates
len(counts[1])

897

In [8]:
#droping the duplicates from the second column
duplicates_2 = counts.drop_duplicates(subset=[1], keep= 'first')

In [123]:
#the length of the second column without duplicates
len(duplicates_2[1])

522

# TASK 1

In [9]:
#The number of different telephone numbers in records 
print ('There are', 517+522, 'different telephone numbers in the records')

There are 1039 different telephone numbers in the records