In [1]:
"""
Read file into texts and calls.
It's ok if you don't understand how to read files
"""
import csv
with open('texts.csv', 'r') as f:
    reader = csv.reader(f)
    texts = list(reader)

with open('calls.csv', 'r') as f:
    reader = csv.reader(f)
    calls = list(reader)

"""
TASK 2: Which telephone number spent the longest time on the phone
during the period? Don't forget that time spent answering a call is
also time spent on the phone.
Print a message:
"<telephone number> spent the longest time, <total time> seconds, on the phone during 
September 2016.".
"""

'\nTASK 2: Which telephone number spent the longest time on the phone\nduring the period? Don\'t forget that time spent answering a call is\nalso time spent on the phone.\nPrint a message:\n"<telephone number> spent the longest time, <total time> seconds, on the phone during \nSeptember 2016.".\n'

In [2]:
calls[:5]

[['78130 00821', '98453 94494', '1/9/2016 6:01', '186'],
 ['78298 91466', '(022)28952819', '1/9/2016 6:01', '2093'],
 ['97424 22395', '(022)47410783', '1/9/2016 6:03', '1975'],
 ['93427 40118', '(080)33118033', '1/9/2016 6:11', '1156'],
 ['90087 42537', '(080)35121497', '1/9/2016 6:17', '573']]

In [4]:
import pandas as pd

calls_df = pd.DataFrame(calls) 
calls_df[:3]

             0              1              2     3
0  78130 00821    98453 94494  1/9/2016 6:01   186
1  78298 91466  (022)28952819  1/9/2016 6:01  2093
2  97424 22395  (022)47410783  1/9/2016 6:03  1975

In [23]:
asc_df = calls_df.sort_values([3], ascending=False) 
asc_df

                0              1                    2    3
1963  90085 20915    99002 80226      12/9/2016 11:29  999
4243  92425 27794    93432 65750  25-09-2016 18:27:06  998
1510  93430 54160  (04344)615310       9/9/2016 18:52  998
2895  70121 27677    78295 48262  17-09-2016 17:01:44  997
2700  89071 31755    78290 99865  16-09-2016 12:53:18  996
...           ...            ...                  ...  ...
721   97419 41164    94487 29969        5/9/2016 7:40   10
4938   1403579926    97381 67759  29-09-2016 15:35:39   10
1607   1408672243    81522 26166      10/9/2016 10:17   10
2954  92421 64236  (080)35538852  17-09-2016 23:46:35   10
4965   1409421631    90351 35947  29-09-2016 18:08:47   10

[5213 rows x 4 columns]

In [25]:
#Print the desired output message 

print('90085 20915 spent the longest time, 999 seconds, on the phone during September 2016.')

90085 20915 spent the longest time, 999 seconds, on the phone during September 2016.